[Unit]
Description=Rai shared memory distribution services
Requires=raikv.service

[Service]
ExecStart=/usr/bin/ds_server
KillSignal=SIGINT
Type=simple
User=raikv
Group=raikv

[Install]
WantedBy=multi-user.target

